.fa-arrow-left {
  cursor: pointer;
}

.back-button {
  margin-left: 1rem;
  font-size: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
  box-shadow: 0 2px 5px 0 rgba(116, 79, 168, 0.75);
  color: white;
}

a {
  color: white;
}
