<div class="">
  <div class="row">
    <div class="col-sm-4">
      <div #firstCard class="card">
        <h5 class="card-header">From Event hover/out</h5>
        <div class="card-body">
          <p class="card-text">hover over the card to see changes</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div #secondCard class="card">
        <h5 class="card-header">From Event double click</h5>
        <div class="card-body">
          <p class="card-text">double click on the card to see changes</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div #thirdCard class="card">
        <h5 class="card-header">From Event move mouse</h5>
        <div class="card-body">
          <p class="card-text">move mouse on the card to see changes</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <h5 class="card-header">From Event hover</h5>
        <div class="card-body">
          <p class="card-text">hover over the card to see changes</p>
          <input
            #enterEvent
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>
      </div>
    </div>
  </div>
</div>
