<div class="menu-items-wrapper">
  <ul class="menu-ul color-3" [routerLink]="['/promise']">
    <li class="menu-li">
      <a>Promise</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/observable']">
    <li class="menu-li">
      <a>Observable</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/interval']">
    <li class="menu-li">
      <a>interval</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/timer']">
    <li class="menu-li">
      <a>timer</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/of']">
    <li class="menu-li">
      <a>of</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/from']">
    <li class="menu-li">
      <a>from</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/from-event']">
    <li class="menu-li">
      <a>from Event</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/to-array']">
    <li class="menu-li">
      <a>to-array</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/map']">
    <li class="menu-li">
      <a>map</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/tap']">
    <li class="menu-li">
      <a>tap</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/pluck']">
    <li class="menu-li">
      <a>pluck</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/filter']">
    <li class="menu-li">
      <a>Filter</a>
    </li>
  </ul>

  <ul class="menu-ul color-3" [routerLink]="['/take']">
    <li class="menu-li">
      <a>take</a>
    </li>
  </ul>

  <!-- 

    This is test component
   -->
  <ul class="menu-ul color-3" [routerLink]="['/test']">
    <li class="menu-li">
      <a>Test</a>
    </li>
  </ul>
</div>
