<div class="menu-items-wrapper">
  <ul class="menu-ul">
    <li class="menu-li">
      <a [routerLink]="['/promise']">Promise</a>
    </li>
  </ul>
  <ul class="menu-ul">
    <li class="menu-li">
      <a [routerLink]="['/observable']">Observable</a>
    </li>
  </ul>
  <ul class="menu-ul">
    <li class="menu-li">
      <a [routerLink]="['/interval']">interval</a>
    </li>
  </ul>
  <ul class="menu-ul">
    <li class="menu-li">
      <a [routerLink]="['/timer']">timer</a>
    </li>
  </ul>
  <ul class="menu-ul">
    <li class="menu-li">
      <a [routerLink]="['/of']">of</a>
    </li>
  </ul>
  <ul class="menu-ul">
    <li class="menu-li">
      <a [routerLink]="['/from']">from</a>
    </li>
  </ul>
</div>
